@charset "UTF-8";

#shopMenu, #memberMenu { margin-top: 1.4rem; }

/* 회원가입 제목 영역 */
#joinTitle {
	font-size: 0.8rem;
    font-weight: normal;
    text-align: left;
    margin: 6.7rem 0 0.5rem 0.2rem;
}

/* 회원가입 영역 */
#joinTableBox {
	display: flex;
	justify-content: center;
}

#id, #password1, #password2, #name, 
#address, #number, #email {
	font-size: 0.7rem;
	font-weight: normal;
	width: 23.5rem;
	height: 2rem;
	margin-bottom: 0.3rem;
	border: 1px solid  rgba(210, 210, 210, 0.8);
}

#id { width: 15.6rem; }

#submit, #backBtn {
	color: white;
	background-color: black;
	font-size: 0.8rem;
    font-weight: normal;
	width: 23.8rem;
	height: 2.2rem;
	margin: 0 0 0.3rem 0;
}

#submit:hover, #backBtn:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.4);
	border: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in;
	cursor: pointer;
}

#backBtn {
	margin-bottom: 4.75rem;
}


/* 아이디 중복확인 */
#idCheckBtn {
	color: white;
	background-color: black;
	font-size: 0.8rem;
    font-weight: normal;
	width: 7.5rem;
	height: 2.2rem;
}

#idCheckBtn:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.4);
	border: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in;
	cursor: pointer;
}

/* 회원가입 안내메세지 */
.eMessage {
	color: red;
	font-size: 0.7rem;
    font-weight: normal;
}