@charset "UTF-8";

.shopMenuBox, .memberMenuBox { line-height: 11px; }

/* 2.로그인페이지 로그인 영역 */
#loginTable {
	position: absolute;
	margin: 0 0 0 35.4rem;
	text-align: center;
}

/* 로그인 제목 스타일 */
#loginTitle {
	margin: -2rem 0 -2rem 35.5rem;
	font-size: 0.8rem;
    font-weight: normal;
}

/* 로그인 내용 스타일 */
#id, #password {
	font-size: 0.7rem;
	font-weight: normal;
	width: 23.5rem;
	height: 2rem;
	margin: -0.2rem 0 0.5rem 0;
	border: 1px solid  rgba(210, 210, 210, 0.8);
}

#password { margin-bottom: 1rem; }

/* 로그인 기능 스타일 */
#submit, #backBtn {
	color: white;
	background-color: black;
	font-size: 0.8rem;
    font-weight: normal;
	width: 23.8rem;
	height: 2.2rem;
	margin: 0 0 0.3rem 0;
}

#submit:hover, #backBtn:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.4);
	border: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in;
	cursor: pointer;
}

#findIDPWD {
	margin: 0 14.2rem 0 0;
	color: gray;
	font-size: 0.7rem;
    font-weight: normal;
	text-decoration: none;
		
}

#findIDPWD:hover {
	border-bottom: solid 1px gray;
}