@charset "UTF-8";

#shopMenu, #memberMenu { margin-top: 1.4rem; }

/* 공지사항 */
/* 제목 */
#noticeTitle {
	font-size: 1.5rem;
    text-align: left;
    margin: 5rem 0 1rem 0;
}

/* 내용 */
#noticeTableBox {
	width: 90%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	margin-left: 5.2rem;
}

#noticeTableBox th, td {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

th {
	color: white;
	background-color: black;
	width: 10rem;
	padding: 0.5rem 0;
}

td {
	width: 25rem;
	font-size: 0.8rem;
}

p {
	padding: 0.5rem 1.5rem;
	text-align: justify;
	
}

#btnBox {
	display: flex;
	justify-content: flex-end;
	
}

#listBtn, #updateBtn, #deleteBtn {
	width: 6rem;
	height: 2.2rem;
	line-height: 2.2rem;
	color: white;
	background-color: black;
	font-size: 1rem;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    margin-top: 0.5rem;
}

#listBtn {
	position: absolute;
	margin-left: 5.2rem;
}
#updateBtn { margin-right: 0.5rem; }
#deleteBtn { margin-right: 4.3rem; }

#listBtn:hover, #updateBtn:hover, #deleteBtn:hover {
	color: black;
	background-color: rgba(0, 0, 0, 0.4);
	border: rgba(0, 0, 0, 0.4);
	transition: all 0.4s ease-in;
	cursor: pointer;
}